% Copyright 2010 Cloudant
% 
% Licensed under the Apache License, Version 2.0 (the "License"); you may not
% use this file except in compliance with the License. You may obtain a copy of
% the License at
%
%   http://www.apache.org/licenses/LICENSE-2.0
%
% Unless required by applicable law or agreed to in writing, software
% distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
% WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
% License for the specific language governing permissions and limitations under
% the License.

{deps, [
    {oauth, ".*", {git, "https://github.com/benoitc/erlang-oauth.git", {tag,
        "refuge"}}},
    {ibrowse, ".*", {git, "https://github.com/benoitc/ibrowse.git", {branch,
        "refuge"}}},
    {mochiweb, ".*", {git, "https://github.com/mochi/mochiweb.git", {tag,
        "1.5.0"}}}
]}.
% needed for a clean transition to the deps model
{clean_files, [
    "apps/oauth/ebin",
    "apps/ibrowse/ebin",
    "apps/mochiweb/ebin",
    "apps/etap/ebin"
]}.
{sub_dirs, [
    "apps/couch",
    "rel",
    "couchjs",
    "spawnkillable"
]}.
{cover_enabled, true}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{erl_opts, [debug_info]}.
{lib_dirs, ["apps"]}.
{port_envs, [{"win32", "REBAR_CC_TEMPLATE", "$CC /c $ERL_CFLAGS $REBAR_PORT_IN_FILES /Fo$REBAR_PORT_OUT_FILE"},
             {"win32", "REBAR_LINK_TEMPLATE", "$CC $REBAR_PORT_IN_FILES /Fe$REBAR_PORT_OUT_FILE $DRV_LDFLAGS"},
             {"win32", "CC", "cl"},
             {"win32", "DRV_CFLAGS", "$ERL_CFLAGS"},
             {"win32", "DRV_LDFLAGS", "/LD /MD /link /LIBPATH:$ERL_EI_LIBDIR erl_interface.lib ei.lib"}]}.