{so_specs, [{"couchspawnkillable.exe", ["c_src/couchspawnkillable_win.o"]}]}.
{port_envs, [
  {"win32", "REBAR_CC_TEMPLATE", "$CC /c ~s /Fo~s"},
  {"win32", "REBAR_LINK_TEMPLATE", "$CC ~s /Fe~s"},
  {"win32", "CC", "cl"}
]}.
{compile_post_script, "post_compile.bat"}.
{clean_files, ["c_src/*.o", "*.exe", "*.dll", "*.exe.manifest"]}.