{so_specs, [{"couchspawnkillable.exe", ["c_src/couchspawnkillable_win.c"]}]}.
{port_envs, [
  {"win32", "REBAR_CC_TEMPLATE", "$CC /c ~s /Fo~s"},
  {"win32", "REBAR_LINK_TEMPLATE", "$CC ~s /Fe~s"},
  {"win32", "CC", "cl"},
  {"win32", "DRV_CFLAGS", "-DXP_WIN -I$JS_DIR $ERL_CFLAGS"},
  {"win32", "JS_LDFLAGS", "/LIBPATH:$JS_DIR js3250.lib"},
  {"win32", "CURL_LDFLAGS", "/LIBPATH:$CURL_LIB libcurl.lib ws2_32.lib kernel32.lib user32.lib advapi32.lib wldap32.lib"},
  {"win32", "CURL_CFLAGS", "-I$CURL_INCLUDE -DWIN32 -DCURL_STATICLIB"},
  {"win32", "DRV_LDFLAGS", "/link $IGNORELIBS /LIBPATH:$ERL_EI_LIBS erl_interface.lib ei.lib"},
  {"win32", "IGNORELIBS", "/NODEFAULTLIB:libcmt.lib"}
]}.