{port_sources, [{"win32", "c_src/*.c"}]}.
{so_specs, [{"couchspawnkillable", ["c_src/couchspawnkillable_win.o"]}]}.
{port_envs, [
  {"win32", "CC", "cl /nologo"},
  {"win32", "CFLAGS", ""},
  {"win32", "DRV_CFLAGS", ""},
  {"win32", "LDFLAGS", ""},
  {"win32", "DRV_LDFLAGS", ""}
]}.
{compile_post_script, "./post_compile"}.
{clean_files, ["c_src/*.o", "*.exe", "*.dll", "*.exe.manifest"]}.