{so_name, "couch_icu_driver.so"}.
{port_envs, [
  {"DRV_CFLAGS",  "$DRV_CFLAGS -DPIC -O2 -fno-common"},
  {"DRV_LDFLAGS", "$DRV_LDFLAGS -lm -licuuc -licudata -licui18n -lpthread"},
  {"linux", "DRV_LDFLAGS", "$DRV_LDFLAGS -lcrypt"},
  {"freebsd", "DRV_CFLAGS", "$DRV_CFLAGS -I/usr/local/include"},
  {"freebsd", "DRV_LDFLAGS", "$DRV_LDFLAGS -L/usr/local/lib"},
  {"win32", "REBAR_CC_TEMPLATE", "$CC /c $ERL_CFLAGS $ICU_CFLAGS ~s /Fo~s"},
  {"win32", "REBAR_LINK_TEMPLATE", "$CC ~s /Fe~s $DRV_LDFLAGS $ICU_LDFLAGS"},
  {"win32", "CC", "cl"},
  {"win32", "DRV_CFLAGS", "$ERL_CFLAGS"},
  {"win32", "ICU_LDFLAGS", "/LIBPATH:$ICU_LIB icuuc.lib icudt.lib icuin.lib"},
  {"win32", "ICU_CFLAGS", " -I$ICU_INCLUDE"},
  {"win32", "DRV_LDFLAGS", "/LD /MD /link /LIBPATH:$ERL_EI_LIBS erl_interface.lib ei.lib"}
]}.
